@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');


:root {
    --Grayish-Blue: hsl(217, 19%, 38%);
    --Dark-Grayish-Blue: hsl(217, 19%, 24%);
    --Dark-Blue: hsl(218, 23%, 16%);

    --Light-Cyan: hsl(193, 38%, 86%);
    --Neon-Green: hsl(150, 100%, 66%);
}


* {
    margin: 0; padding: 0;
    text-decoration: none;
}

body {
    background-color: var(--Dark-Blue);
}


#card {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 33%; height: 33%;
    top: 50%; left: 50%;
    padding: 45px;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    font-family: 'Manrope', sans-serif;
    background-color: var(--Dark-Grayish-Blue);
}
#card div:first-child {
    display: flex;
    flex-direction: column;
    width: 100%; height: 95%;
    justify-content: space-around;
}
#card div:first-child > div{
    display: block;
    width: max-content; height: max-content;
    align-self: center;
}
#card div:first-child P {
    display: inline;
    color: var(--Neon-Green);
    letter-spacing: 5px;
    font-size: 12px;
}
#card #advice::before { 
    content: "#"; 
}
#card #message {
    font-size: 28px;
    color: var(--Light-Cyan);
    text-align: center;
}
#card > button {
    width: max-content; height: max-content;
    left: 50%; bottom: -3px;
    transform: translate(-50%, 50%);
    padding: 15px;
    border-radius: 100%;
    border: 0;
    position: absolute;
    cursor: pointer;
    background-color: var(--Neon-Green);
    transition: box-shadow 0.2s ease-in-out;
}
#card > button:hover {
    filter: brightness(1.1);
    box-shadow: 0 0 30px var(--Neon-Green);
}

.attribution   { 
    font-size: 11px; 
    text-align: center; 
    color: white;
    position: absolute;
    bottom: 2%;
    left: 50%;
    transform: translate(-50%);
}
.attribution a { color: hsl(228, 45%, 44%); }

@media (max-width: 500px) {
    #card {
        width: 85%; height: 40%;
        padding: 15px;
        display: block;
    }
    #card > *:not(:last-child) {
        position: relative;
    }
}

@media (max-width: 1000px) and (min-width: 500px){
    #card {
        width: 50%; 
    }
}